#lean_overlay {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	display: none
}

.leanModal .modal_close {
	position: absolute;
	border-radius: 10px;
	top: 12px;
	right: 12px;
	width: 30px;
	height: 30px;
	background: url("img/modal_close.png");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2
}
