/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


a,
.color-primary,
.text-primary,
.list > li > a:hover,
.list > li:before,
.link-tooltip-1,
.blockquote-1:before,
.pager li > a:hover,
.pager li > a:hover .icon,
.pagination_primary > li:first-child > a:hover,
.pagination_primary > li:first-child > a:hover .icon,
.pagination_primary > li:last-child > a:hover,
.pagination_primary > li:last-child > a:hover .icon,
.b-post .entry-meta__link:hover,
.search-close:hover,
.breadcrumb > li > a:hover,
.typography-title,
.typography-title-number,
.pagination > .active > a,
.pagination > .active > span,
.pagination a:hover,
.pagination span:hover,
.pagination a:focus,
.pagination span:focus,
.forms__label-check-2:after,
.footer__list li a:hover,
.header-topbarbox__item .icon,
.header-topbarbox__item a:hover,
.main-slider__label,
.main-slider__list li a:hover,
.ui-subtitle-block,
.b-goods__price,
.b-advantages-1__icon,
.b-presentation__label,
.b-blockquote-5:before,
.b-goods-links__item .icon,
.b-title-page__list li a:hover,
.b-info__name .icon,
.b-info .social-net li > a:hover,
.widget-list__link:hover:before,
.b-post-2 .entry-title a:hover,
.b-gallery-3 .b-isotope__filter li a.current,
.b-gallery-3 .b-isotope__filter li a:hover,
.b-gallery-4 .b-isotope__filter li a.current,
.b-gallery-4 .b-isotope__filter li a:hover,
.b-gallery-5 .b-isotope__filter li a:hover,
.b-gallery-5 .b-isotope__filter li a.current,
.list-description dt:before,
.forms__label-check-rating:after,
.b-filter__btn .icon,
.breadcrumb > li > a {color: #ae1f6f;}


.bg-primary,
.btn-effect:after,
.pagination_primary > .active > a,
.pagination_primary > .active > span,
.pagination_primary > .active > a,
.pagination_primary > .active > span,
.pagination_primary > li > a:hover,
.pagination_primary > li > a:focus,
.dropcap_primary:first-letter,
.tooltip-1 .tooltip-inner,
.btn-primary,
.forms__label-check-1:after,
.forms__label-radio-2:before,
.accordion-1 .panel-default > .panel-heading,
.forms__label-radio-3:after,
.b-pricing.active,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.b-goods-headers__view-item.active,
.b-goods-links__item:hover,
.forms__label-radio-1:after,
.noUi-origin,
.b-post-1 .entry-category,
.b-post-2 .entry-category,
.list-tags__link,
.list-mark-6 li:before,
.b-post-full .post-tags__list > li > a,
.b-filter__btn .badge,
.btn-default:focus,
.btn-default.focus,
.b-post-full-2 .post-tags__list li > a {background-color: #AE1F6F;}


.progress_border_primary,
.forms__label-radio-2:before,
.dropcap_secondary:first-letter,
.b-blockquote-2,
.b-goods-headers__view-item.active,
.forms__label-radio-1:after,
.noUi-handle,
.b-goods-description__list dt:after {border-color: #ae1f6f;}

.tooltip-1.top .tooltip-arrow,
.tooltip-1.top-left .tooltip-arrow,
.tooltip-1.top-right .tooltip-arrow {border-top-color: #ae1f6f;}

.tooltip-1.right .tooltip-arrow {border-right-color: #ae1f6f;}

.tooltip-1.left .tooltip-arrow,
.border-left_primary:before,
.b-blockquote-1,
.accordion-2 .btn-collapse .icon:before {border-left-color: #ae1f6f;}

.tooltip-1.bottom .tooltip-arrow,
.tooltip-1.bottom-left .tooltip-arrow,
.tooltip-1.bottom-right .tooltip-arrow,
.table_primary > thead > tr > th,
.collapse.in,
.table > thead > tr > th,
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:focus,
.accordion-2 .btn-collapse .icon:before,
.b-gallery-2 .b-isotope__filter li a.current,
.b-gallery-2 .b-isotope__filter li a:hover,
.b-gallery-3 .b-isotope__filter li a.current,
.b-gallery-3 .b-isotope__filter li a:hover,
.b-gallery-4 .b-isotope__filter li a.current,
.b-gallery-4 .b-isotope__filter li a:hover,
.b-gallery-5 .b-isotope__filter li a:hover,
.b-gallery-5 .b-isotope__filter li a.current,
.b-title-page__list li a:hover {border-bottom-color: #ae1f6f;}




.color-secondary,
.link-tooltip-2,
.blockquote-2:before,
.dropcap_secondary:first-letter,
.btn-type-1,
.pagination > li,
.pagination > li > a,
.footer .social-net__link {color: #1c1f23;}

.bg-secondary,
.tooltip-2 .tooltip-inner,
.btn-secondary,
.pagination_secondary > .active > a,
.pagination_secondary > .active > span,
.pagination_secondary > .active > a,
.pagination_secondary > .active > span,
.pagination_secondary > li > a:hover,
.pagination_secondary > li > a:focus {background-color: #1c1f23;}

.progress_border_secondary,
.pagination_secondary > .active > a,
.pagination_secondary > .active > span,
.pagination_secondary > .active > a,
.pagination_secondary > .active > span,
.pagination_secondary > li > a:hover,
.pagination_secondary > li > a:focus {border-color: #1c1f23;}

.tooltip-2.top .tooltip-arrow,
.tooltip-2.top-left .tooltip-arrow,
.tooltip-2.top-right .tooltip-arrow {border-top-color: #1c1f23;}

.tooltip-2.right .tooltip-arrow {border-right-color: #1c1f23;}

.tooltip-2.left .tooltip-arrow,
.border-left_secondary:before {border-left-color: #1c1f23;}

.tooltip-2.bottom .tooltip-arrow,
.tooltip-2.bottom-left .tooltip-arrow,
.tooltip-2.bottom-right .tooltip-arrow,
.table_secondary > thead > tr > th {border-bottom-color: #1c1f23;}

.yamm li a:hover{
    color: #ae1f6f;
}

html .loading .loader_right , html .loading .loader_left{
    background: #ae1f6f;
}
