/*html {height: 100%; width: 100%; }
body { padding: 0px; margin: 0px; width: 100%; height: 100%; }*/
html {font-family: 'Quattrocento', serif; }
body { font-family: 'Quattrocento', serif; }
.ui-datepicker { font: 90% "Trebuchet MS", sans-serif; }
.container1040 { margin: 0 auto; max-width: 1040px; }
.container1160 { margin: 0 auto; max-width: 1160px; }
.container1180 { margin: 0 auto; max-width: 1180px; }
.desktop { display: block; }
.tablet480, .mobile, .deviceMobile { display: none; }
h1, h2, h3, h4, p { margin: 0; padding: 0; }
a { text-decoration: none; outline: none; color: unset; }
textarea { resize: none; }
.pointer { cursor: pointer !important; }
.img-responsive { display: block; height: auto; width: auto; max-width: 100%; }
*:focus { outline: none; }
.clear { clear: both; }
.error { color: red; font-size: 13px; }
.width100 { width: 100%; }
.bold { font-weight: 500; }
.floatleft { float: left; }
.floatright { float: right; }
.textalignleft { text-align: left !important }
.textalignright { text-align: right !important }
.textaligncenter { text-align: center !important }
.block { display: inline-block; }
.inline-block { display: inline-block; }
.positionRelative { position: relative; }
.positionAbsolute { position: absolute; }
.absoluteCenter { left: 0; right: 0; text-align: center; position: absolute; }
.blue { color: #247cb7 !important; }
.red { color: red !important; }
.pink { color: #AD216E !important; }
.white { color: #fff !important; }
.darkgrey { color: #232222 !important; }
.shadowRedTxt { text-shadow: 0px 1px 1px #5c5c5c; }

.padding0 { padding: 0px !important; }
.padding5 { padding: 5px !important; }
.padding10 { padding: 10px !important; }
.padding15 { padding: 15px !important; }
.padding20 { padding: 20px !important; }
.padding25 { padding: 25px !important; }
.padding30 { padding: 30px !important; }
.paddingright5 { padding-right: 5px !important; }
.paddingright10 { padding-right: 10px !important; }
.paddingright15 { padding-right: 15px !important; }
.paddingright20 { padding-right: 20px !important; }
.paddingright30 { padding-right: 30px !important; }
.paddingright80 { padding-right: 80px !important; }
.paddingleft5 { padding-left: 5px !important; }
.paddingleft10 { padding-left: 10px !important; }
.paddingleft15 { padding-left: 15px !important; }
.paddingleft20 { padding-left: 20px !important; }
.paddingleft30 { padding-left: 30px !important; }
.paddingleft50 { padding-left: 50px !important; }
.paddingtop5 { padding-top: 5px !important; }
.paddingtop10 { padding-top: 10px !important; }
.paddingtop15 { padding-top: 15px !important; }
.paddingtop20 { padding-top: 20px !important; }
.paddingtop30 { padding-top: 30px !important; }
.paddingtop50 { padding-top: 50px !important; }
.paddingtop70 { padding-top: 70px !important; }
.paddingbtm5 { padding-bottom: 5px !important; }
.paddingbtm10 { padding-bottom: 10px !important; }
.paddingbtm15 { padding-bottom: 15px !important; }
.paddingbtm20 { padding-bottom: 20px !important; }
.paddingbtm30 { padding-bottom: 30px !important; }
.paddingbtm50 { padding-bottom: 50px !important; }
.marginright5 { margin-right: 5px !important; }
.marginright10 { margin-right: 10px !important; }
.marginright15 { margin-right: 15px !important; }
.marginright20 { margin-right: 20px !important; }
.marginright30 { margin-right: 30px !important; }
.marginright60 { margin-right: 60px !important; }
.marginright80 { margin-right: 80px !important; }
.margin0 { margin: 0px !important; }
.margin5 { margin: 5px !important; }
.margin10 { margin: 10px !important; }
.margin15 { margin: 15px !important; }
.margin20 { margin: 20px !important; }
.margin25 { margin: 25px !important; }
.margin30 { margin: 30px !important; }
.marginleft5 { margin-left: 5px !important; }
.marginleft10 { margin-left: 10px !important; }
.marginleft15 { margin-left: 15px !important; }
.marginleft20 { margin-left: 20px !important; }
.marginleft30 { margin-left: 30px !important; }
.marginleft50 { margin-left: 50px !important; }
.margintop5 { margin-top: 5px !important; }
.margintop10 { margin-top: 10px !important; }
.margintop15 { margin-top: 15px !important; }
.margintop20 { margin-top: 20px !important; }
.margintop25 { margin-top: 25px !important; }
.margintop30 { margin-top: 30px !important; }
.margintop40 { margin-top: 40px !important; }
.margintop50 { margin-top: 50px !important; }
.margintop60 { margin-top: 60px !important; }
.margintop100 { margin-top: 100px !important; }
.marginbtm5 { margin-bottom: 5px !important; }
.marginbtm10 { margin-bottom: 10px !important; }
.marginbtm15 { margin-bottom: 15px !important; }
.marginbtm20 { margin-bottom: 20px !important; }
.marginbtm30 { margin-bottom: 30px !important; }
.marginbtm40 { margin-bottom: 40px !important; }
.marginbtm50 { margin-bottom: 50px !important; }
.marginbtm60 { margin-bottom: 60px !important; }
.marginbtm70 { margin-bottom: 70px !important; }
.displayblock { display: block; }
.displayinline { display: inline; }
.displayinlineblock { display: inline-block; }
.displaynone { display: none; }
.padding0030 { padding-top: 0px;  padding-bottom: 30px; }
.padding0060 { padding-top: 0px;  padding-bottom: 60px; }
.padding3030 { padding-top: 30px; padding-bottom: 30px; }
.padding6060 { padding-top: 60px; padding-bottom: 60px; }
.padding3060 { padding-top: 30px; padding-bottom: 60px; }
.padding6030 { padding-top: 60px; padding-bottom: 30px; }
.paddingleft67 { padding-left:67px; }
.justify{text-align: justify !important}

/* FLEX */
.flex { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.flexResponsive, .flexResponsive480, .flexResponsive580 { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.flexWeird { -webkit-flex:1 0 auto; }
.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex4 { flex: 4; }
.flex5 { flex: 5; }
.flex6 { flex: 6; }
.flex100 { flex: 100% !important; }
.order1 { order: 1; }
.order2 { order: 2; }
.flexDirectionRow { -moz-box-direction: row; -webkit-box-direction: row; -webkit-box-orient: horizontal; -webkit-flex-direction: row; -ms-flexbox-direction: row; -ms-flex-direction: row; flex-direction: row; }
.flexDirectionCol { -moz-box-direction: column; -webkit-box-direction: column; -webkit-box-orient: vertical; -webkit-flex-direction: column; -ms-flexbox-direction: column; -ms-flex-direction: column; flex-direction: column; }

.flexWrap { -moz-box-wrap: wrap; -webkit-box-wrap: wrap; -ms-flexbox-wrap: wrap; flex-wrap: wrap; }
.flexNoWrap { -moz-box-wrap: nowrap; -webkit-box-wrap: nowrap; -ms-flexbox-wrap: nowrap; flex-wrap: nowrap; }
.flexWrapReverse { -moz-box-wrap: wrap-reverse; -webkit-box-wrap: wrap-reverse; -ms-flexbox-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

.flexJustifyBetween { -webkit-justify-content: space-between; -ms-flex-pack: space-between; justify-content: space-between; }
.flexJustifyAround { -webkit-justify-content: space-around; -ms-flex-pack: space-around; justify-content: space-around; }
.flexJustifyStart { -webkit-justify-content: flex-start; -ms-flex-pack: flex-start; justify-content: flex-start; }
.flexJustifyEnd { -webkit-justify-content: flex-end; -ms-flex-pack: flex-end; justify-content: flex-end; }
.flexJustifyCenter { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.flexAlignItemsCenter { -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.flexAlignItemsBaseline { -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline; }
.flexAlignItemsStart { -webkit-align-items: flex-start; -ms-flex-align: flex-start; align-items: flex-start; }
.flexAlignItemsEnd { -webkit-align-items: flex-end; -ms-flex-align: flex-end; align-items: flex-end; }
.flexAlignItemsStretch { -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }

.flexAlignContentCenter { -webkit-box-align-content: center; -webkit-align-content: center; -ms-flex-align-content: center; align-content: center; }
.flexAlignContentAround { -webkit-box-align-content: space-around; -webkit-align-content: space-around; -ms-flex-align-content: space-around; align-content: space-around; }
.flexAlignContentStart { -webkit-box-align-content: flex-start; -webkit-align-content: flex-start; -ms-flex-align-content: flex-start; align-content: flex-start; }
.flexAlignContentEnd { -webkit-box-align-content: flex-end; -webkit-align-content: flex-end; -ms-flex-align-content: flex-end; align-content: flex-end; }
.flexAlignContentBetween { -webkit-box-align-content: space-between; -webkit-align-content: space-between; -ms-flex-align-content: space-between; align-content: space-between; }
.flexAlignContentStretch { -webkit-box-align-content: stretch; -webkit-align-content: stretch; -ms-flex-align-content: stretch; align-content: stretch; }
/* FLEX */

/*CUSTOM RADIO AND CHECKBOX*/
.customRadio input[type="checkbox"]:not(old),
.customRadio input[type="radio"]:not(old)
{ margin: 0; padding: 0; opacity: 0; }
.customRadio input[type="checkbox"]:not(old) + label,
.customRadio input[type="radio"]:not(old) + label
{ margin-left: -21px; cursor: pointer; }
.customRadio input[type="checkbox"]:not(old) + label > span
{ border: 2px solid #90c03e; border-radius: none; display: inline-block; height: 16px; margin-right: 10px; vertical-align: bottom; width: 16px; }
.customRadio input[type="radio"]:not(old) + label > span
{ border: 2px solid #90c03e; border-radius: 20px; display: inline-block; height: 16px; margin-right: 10px; vertical-align: bottom; width: 16px; }
.customRadio input[type="checkbox"]:checked:not(old) + label > span:before
{ content: '✓'; display: block; width: 1em; color: rgb(153, 204, 102); font-size: 17px; line-height: 1em; text-align: center; text-shadow: 0 0 0.0714em rgb(115, 153, 77); font-weight: bold; }
.customRadio input[type="radio"]:checked:not(old) + label > span > span
{ background-color: #90c03e; border-radius: 20px; display: block; height: 8px; margin: 4px; width: 8px; }
/*CUSTOM RADIO AND CHECKBOX*/

/*CUSTOM STAR RATIING*/
.starRating:not(old)
{ display: inline-block; height: 22px; overflow: hidden; vertical-align: bottom; width: 150px; }
.starRating:not(old) > input
{ margin-right: -100%; opacity: 0; }
.starRating:not(old) > label
{ display: block; float: right; position: relative; background: url("../images/star-off.png"); background-size: contain; margin-right: 7px; }
.starRating:not(old) > label:before
{ content: ''; display: block; width: 22px; height: 22px; background: url("../images/star-on.png"); background-size: contain; opacity: 0; transition: opacity 0.2s linear; }
.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before { opacity : 1; }
/*CUSTOM STAR RATIING*/

/* CUSTOM DROPDOWN */
*, *:after, *:before { padding: 0; margin: 0; }
.customDropdown {
    /* Size & position */ position: relative; width: 200px; margin: 0 auto; padding: 12px 15px;  /* Styles */ background: #fff; border-radius: 5px; box-shadow: 0 1px 0 rgba(0,0,0,0.2); cursor: pointer; outline: none; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
}
.customDropdown:after { /* Little arrow */
    content: ""; width: 0; height: 0; position: absolute; top: 50%; right: 15px; margin-top: -3px; border-width: 6px 6px 0 6px; border-style: solid; border-color: #4cbeff transparent;
}
.customDropdown .dropdown {
    /* Size & position */ position: absolute; z-index: 1; top: 100%; left: 0; right: 0;  /* Styles */ background: #fff; border-radius: 0 0 5px 5px; border: 1px solid rgba(0,0,0,0.2); border-top: none; border-bottom: none; list-style: none; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;  /* Hiding */ max-height: 0; overflow: hidden;
}
/* CUSTOM DROPDOWN */
.customDropdown .dropdown li { padding: 3px 10px ; }
.customDropdown .dropdown li a { display: block; text-decoration: none; color: #333; padding: 10px 0; transition: all 0.3s ease-out; border-bottom: 1px solid #e6e8ea; }
.customDropdown .dropdown li:last-of-type a { border: none; }
.customDropdown .dropdown li i { margin-right: 5px; color: inherit; vertical-align: middle; }
/* Hover state */
.customDropdown .dropdown li:hover a { color: #57a9d9; }
/* Active state */
.customDropdown.active { border-radius: 5px 5px 0 0; background: #4cbeff; box-shadow: none; border-bottom: none; color: white; }
.customDropdown.active:after { border-color: #82d1ff transparent; }
.customDropdown.active .dropdown { border-bottom: 1px solid rgba(0,0,0,0.2); max-height: 400px; }

input[type=number] { -moz-appearance: textfield; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
/* CUSTOM DROPDOWN */

.nav-main li{position:relative;}
.nav-main > li{position:relative;float:left;margin-right:35px;}
.nav-main > li:last-child{margin-right:0;}
.nav-main > li > a{font-family: 'Quattrocento', serif; display:inline-block; font-size: 18px; padding:0;}
.nav-main > li > a:hover, .nav-main > li > a:focus{ color: #ae1f6f; background:none;}
.nav-main > li.has-dropdown:after, .nav-main > li.has-dropdown-wide:after{margin-left:4px;font-family:'FontAwesome';content:"\f107 ";opacity:.5;}
.nav-main > li.has-dropdown:hover:after, .nav-main > li.has-dropdown-wide:hover:after{opacity:1;}
.nav-main > li > .nav-main-dropdown{position:absolute;top:100%;left:0;transition:all 0.35s ease-in-out 0.1s;-webkit-transition:all 0.35s ease-in-out 0.1s;-o-transition:all 0.35s ease-in-out 0.1s;opacity:0;visibility:hidden;transform:translateY(-5px);-ms-transform:translateY(-5px);-moz-transform:translateY(-5px);-webkit-transform:translateY(-5px);}
.nav-main > li.has-dropdown-wide > .nav-main-dropdown{width:100%;padding:20px 30px;}
.nav-main > li.has-dropdown:after, .nav-main > li.has-dropdown-wide:after{margin-left:4px;font-family:'FontAwesome';content:"\f107 ";opacity:.5;}
.nav-main > li > .nav-main-dropdown ul{list-style:none;margin:0;padding:0;}
.nav-main > li:hover > .nav-main-dropdown{opacity:1;visibility:visible;transform:translateY(0px);-ms-transform:translateY(0px);-moz-transform:translateY(0px);-webkit-transform:translateY(0px);}
.nav-main > li ul li.has-dropdown:after{position:absolute;top:9px;right:14px;font-family:'FontAwesome';content:"\f105 ";opacity:.5;}
.nav-main > li ul li:hover.has-dropdown:after{opacity:1;}
.nav-main ul ul{position:absolute;top:0;left:100%;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;opacity:0;visibility:hidden;transform:translateX(-10px);}
.nav-main ul li:hover > ul{opacity:1;visibility:visible;transform:translateX(0);-ms-transform:translateX(0);-moz-transform:translateX(0);-webkit-transform:translateX(0);}
.dropdown-dark .nav-main-dropdown ul, .dropdown-dark .has-dropdown-wide .nav-main-dropdown{background:#111;color:#fff;}

.nav-main.dropdown-dark li ul li{border-bottom:1px solid #2e2e2e;}
.nav-main li ul li:last-child{border-bottom:none;}
.nav-main li ul a{position:relative;display:inline-block;padding:10px 15px;min-width:230px;font-size:14px;overflow:hidden;border-left:2px solid rgba(0,0,0,0);display:block;}
.nav-main li ul a:hover { color: #ae1f6f !important; }
.nav-main > li ul a:hover, .nav-main > li ul a:focus{color:#fff;}
.desktopHeader .nav-main {  text-align: left; display: inline-block; }
.desktopHeader .header { position: fixed; padding: 20px 5%; }
.menuOption { margin-left: 40px; }
.menuOption .item { margin: 0 5px; padding: 0 8px; }
.btn_header_search { font-size: unset; padding-right: unset; }

.wrap-content { margin-top: 0; }
.main-slider { margin-top: 0; }
.transparentHeader { padding-top: 20px; }

.transparentHeader { background-color: unset;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.transparentHeader .mainLogo { margin-bottom: 10px;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
/*.transparentHeader .mainLogo .darkLogo { display: none;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.transparentHeader .mainLogo .lightLogo { width: 300px; display: inline-block;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }*/
.transparentHeader .mainLogo .darkLogo, .transparentHeader .mainLogo .lightLogo { width: 280px; }

.falseHeaderPadding { padding-top: 80px; }
.opaqueHeader { height: 80px; padding-top: 10px; box-shadow: 0 0 12px #000; background-color: rgba(255,255,255,1);transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.opaqueHeader .mainLogo { margin-bottom: 10px;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }

/*.opaqueHeader .mainLogo .darkLogo { width: 220px; display: inline-block;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.opaqueHeader .mainLogo .lightLogo { display: none;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.mainLogo a .logoUnhover, .mainLogo a:hover .logoHover { display: inline-block; opacity: 1;margin-left: -50%;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out; }
.mainLogo a:hover .logoUnhover, .mainLogo a .logoHover { display: inline-block; opacity: 0; margin-left: calc(-50% - 4px); transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out; }
*/

.opaqueHeader .mainLogo .darkLogo, .opaqueHeader .mainLogo .lightLogo { width: 220px; }
.mainLogo .lightLogo { opacity: 1; display: inline-block;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.mainLogo .darkLogo { opacity: 0; display: none;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }

.mainLogo:hover .lightLogo { opacity: 0; display: none;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.mainLogo:hover .darkLogo { opacity: 1; display: inline-block;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }

.transparentHeader .nav-main a, .opaqueHeader .nav-main a { color: #fff; letter-spacing: 0.7px; text-transform: capitalize; transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.transparentHeader .menuOption .item a, .opaqueHeader .menuOption .item a {  color: #fff; letter-spacing: 0.7px;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.transparentHeader .menuOption .item a:hover, .opaqueHeader .menuOption .item a:hover { color: #ae1f6f; }

.transparentHeader .menuOption .item a i.normal, .opaqueHeader .menuOption .item a i.normal { display: inline-block; color: #fff; font-weight: 700; }
.transparentHeader .menuOption .item a i.hover, .opaqueHeader .menuOption .item a i.hover { display: none; color: #ae1f6f; font-weight: 700; }
.transparentHeader .menuOption .item a:hover i.normal, .opaqueHeader .menuOption .item a:hover i.normal { display: none; }
.transparentHeader .menuOption .item a:hover i.hover, .opaqueHeader .menuOption .item a:hover i.hover { display: inline-block; }

.toggle-menu-button .toggle-menu-button-icon span { background-color: #fff; }

.main-slider, .b-title-page_w_bg { height: auto; }
.sp-mask { height: 100vh !important; }
.bx-wrapper { border: none; box-shadow: none; margin: 0; }
.bx-wrapper ul, .bx-wrapper ul li { margin: 0; padding: 0; }
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { bottom: 4%; }
.bx-wrapper .bx-pager.bx-default-pager a {width: 9px; height: 9px; background: unset; border: 1px solid #fff; margin: 0 6px 0 6px; border-radius: unset; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -o-transform-origin: 0 100%; transform-origin: 0 100%; }
.bx-wrapper .bx-pager.bx-default-pager a
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus { background: #fff; }
.homeBanner ul li img { max-width: 100%; width: 100%; }
.btn-primary { font-size: 16px; padding: 7px 30px; }
.form-control { font-size: 15px; padding: 9px 20px 10px; }
input, button, select, textarea { font-family: 'Quattrocento', serif; }
.homeCategoryThumb { background-size: 104% auto; background-repeat: no-repeat; min-height: 390px; text-align: center; background-position: 50% 50%; }
.crownBorder { border-bottom: 1px solid #fff; margin: 5px auto; width: 85%; position: relative; }
.crownBorder .crown { background-image: url('../images/crown.png'); background-position: 50% 50%; background-repeat: no-repeat; background-size: contain; bottom: -10px; height: 30px; left: 0; margin: 0 auto; position: absolute; right: 0; width: 32px; }
/*.pageBanner { background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; height: 610px; width: 100%; }*/
.pageBanner img { width: 100%; }
.commonBanner { margin-bottom: 5%; }
.form-control { border: 1px solid #370a41; color: #fff; }
.breadcrumb { padding-bottom: 2%; padding-top: 2%; }
.breadcrumb > li { font-size: 22px; font-weight: 700; }
.breadcrumb a { font-size: 16px; }
.markedFavt { background-color: #ae1f6f !important; }
.markedFavt i { color: #fff !important; }
textarea.form-control { padding-bottom: 10px; }
#mapCanvas { width: 100%; height: 50vh; }
.b-contact__decription { margin-bottom: 20px; margin-top: 22px; padding-bottom: 20px; line-height: unset; }
.b-info__name { margin-bottom: 5px; }
.b-info__info { font-size: 14px; padding-bottom: 10px; font-weight: 700; }
.b-info__info .link { color: #ae1f6f; }
.b-info__info .link:hover { text-decoration: underline; }
.diamondClarity, .diamondColour, .diamondCarat { font-size: 16px; line-height: 18px; margin-bottom: 25px; }
.diamondClarity .item, .diamondColour .item, .diamondCarat .item { padding: 0 5px; text-align: center; }
.diamondClarity .item img, .diamondColour .item img, .diamondCarat .item img { max-width: 120px; }
.diamondClarity .captionTitle, .diamondColour .captionTitle, .diamondCarat .captionTitle { color: #ae1f6f; font-weight: 700; height: 45px; overflow: hidden; margin-top: 20px; line-height: 22px; }
.diamondClarity .captionDesc, .diamondColour .captionDesc, .diamondCarat .captionDesc { margin-top: 10px; }
.diamondShapes { margin-bottom: 50px; }
.diamondShapes .item { padding: 0 4%; text-align: center; }
.diamondShapes .captionTitle { color: #ae1f6f; font-weight: 700; margin-top: 20px; }
.wheelChakra { text-align: center; }
.wheelChakra .item { padding: 30px; }

.text-gradient span { font-family: 'Playfair Display', serif; font-weight: 400; letter-spacing: 2px; }
.ui-subtitle-block { letter-spacing: 0.9px; font-family: "Playfair Display",serif; text-transform: unset; }

.productPage .productName, .productPage .productCode, .productPage .productAttr, .prodDesc .heading, .prodDesc .desc, .ui-title-block-2, .relatedProduct .heading, .footer__list li a, .footer .copyright { color: #fff; }
.productPage .b-goods-carousel img, .relatedProduct .b-goods__inner img, .relatedProduct .b-goods__inner:hover img, .productListing .b-goods__inner img, .productListing .b-goods__inner:hover img { border: none; }
a, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 .btn-link, .color-primary, .text-primary, .list > li > a:hover, .list > li::before, .link-tooltip-1, .blockquote-1::before, .pager li > a:hover, .pager li > a:hover .icon, .pagination_primary > li:first-child > a:hover, .pagination_primary > li:first-child > a:hover .icon, .pagination_primary > li:last-child > a:hover, .pagination_primary > li:last-child > a:hover .icon, .b-post .entry-meta__link:hover, .search-close:hover, .breadcrumb > li > a:hover, .typography-title, .typography-title-number, .pagination > .active > a, .pagination > .active > span, .pagination a:hover, .pagination span:hover, .pagination a:focus, .pagination span:focus, .forms__label-check-2::after, .footer__list li a:hover, .header-topbarbox__item .icon, .header-topbarbox__item a:hover, .main-slider__label, .main-slider__list li a:hover, .ui-subtitle-block, .b-goods__price, .b-advantages-1__icon, .b-presentation__label, .b-blockquote-5::before, .b-goods-links__item .icon, .b-title-page__list li a:hover, .b-info__name .icon, .b-info .social-net li > a:hover, .widget-list__link:hover::before, .b-post-2 .entry-title a:hover, .b-gallery-3 .b-isotope__filter li a.current, .b-gallery-3 .b-isotope__filter li a:hover, .b-gallery-4 .b-isotope__filter li a.current, .b-gallery-4 .b-isotope__filter li a:hover, .b-gallery-5 .b-isotope__filter li a:hover, .b-gallery-5 .b-isotope__filter li a.current, .list-description dt::before, .forms__label-check-rating::after, .b-filter__btn .icon, .breadcrumb > li > a { color: #fff; }
.b-goods_mod-a:hover .b-goods__inner { box-shadow: none; }
.b-goods__img img { width: 90%; margin-bottom: 15px; }
.b-goods_mod-a .b-goods__img::after { background-color: unset; }
.b-goods .b-goods-links { left: 26px; right: unset; top: 62%; opacity: 1; border: none; }
.b-goods .b-goods-links__item { background-color: unset; }
.b-goods .b-goods-links__item i.normal { display: block; color: #fff; font-weight: 700; }
.b-goods .b-goods-links__item i.hover { display: none; color: #ae1f6f; font-weight: 700; }
.b-goods .b-goods-links__item:hover i.normal { display: none; }
.b-goods .b-goods-links__item:hover i.hover { display: block; }
.b-goods .b-goods-links .markedFavt { color: #fff; background-color: unset !important; }

.b-goods .b-goods-links .markedFavt i { color: #fff !important; }

.b-goods .b-goods-links .markedFavt i.normal { display: none; color: #fff; font-weight: 700; }
.b-goods .b-goods-links .markedFavt i.hover { display: block; color: #fff; font-weight: 700; }
.b-goods .b-goods-links .markedFavt:hover i.normal { display: none; }
.b-goods .b-goods-links .markedFavt:hover i.hover { display: block; }
.b-goods_list .b-goods-links__item { border: none; }
.widget-list .widget-list__link::before { color: #fff; }
.widget-list .widget-list__link { color: #fff; }
.widget-list .widget-list__link:hover { color: #ae1f6f; }
.continueAsFb { cursor: pointer; }
.continueAsFb .box { background-color: #4267b2; border-radius: 3px; display: inline-block; font-family: arial; font-size: 16px; letter-spacing: 0.1px; padding: 4px 22px 5px 7px; }
.continueAsFb .box span { display: inline-block; vertical-align: middle; }
.continueAsFb .box i { display: inline-block; font-size: 27px; padding-right: 8px; vertical-align: middle; }
.continueAsFb img { width: 50px; margin-top: -2px; margin-right: 10px; }

button, input, optgroup, select, textarea { color: #370a41; font-size: 18px; }
.breadcrumb li a { text-transform: capitalize; }
.breadcrumb li.active a, .breadcrumb li:hover a { color: #ae1f6f; }
.mfp-figure::after { background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; }
.b-goods-headers__view-item { border: none; }
.b-goods-headers__view i { font-size: 20px; line-height: 15.5px; }
.b-goods-headers__view-item:hover { background-color: #ae1f6f; color: #fff;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.markerTitle { color: #000; font-weight: 700; margin-bottom: 10px; }
.markerDetail { color: #000; }

.degree360 { text-align: right; }
.degree360 .ui-title-block-2 { font-size: 18px; line-height: 30px; text-align: left; }
.degree360 a { position: relative; display: inline-block; }
.degree360 img { max-width: 100%; width: 100%; }
.degree360 img:hover { opacity: 0.5; }
.degree360 a i { position: absolute; top: calc(50% - 20px); left: calc(50% - 20px); font-size: 40px; color: #fff; font-weight: 700; }
.addressMap .b-contact { padding-bottom: 15px; }
a.pink:hover { text-decoration: underline; }
.social-net__link:hover { color: #ae1f6f !important; }
.woocommerce-info .pink { font-size: 16px; }

/*CATEGORY-PAGE*/
.pagination a.btn-effect.btn-primary::after { background-color: unset; }
.pagination a { background-color: unset; color: #ae1f6f; padding: 3px 16px; font-size: 17px; }
.pagination .active a, .pagination a:hover { background-color: #ae1f6f; color: #fff !important; }
/*CATEGORY-PAGE*/

/*PRODUCT-PAGE*/
.productPage .goods-card { border-bottom: none; padding-top: 20px; }
.productPage .js-zoom-images img { margin-bottom: 20px; max-width: 80%; }
.productPage .productName { font-size: 32px; font-weight: 700; margin-bottom: 50px; text-transform: capitalize; }
.productPage .productCode { font-size: 22px; font-weight: 700; margin-bottom: 50px; }
.productPage .productAttr { font-size: 15px; line-height: 30px; margin-bottom: 50px; }
.productPage .productAttr .labal { font-size: 18px; font-weight: 700; }
.productPage .favtBtn { font-size: 22px; font-weight: 700; }
.productPage .favtBtn a i.normal { display: inline-block; color: #fff; font-weight: 400;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.productPage .favtBtn a i.hover { display: none; color: #ae1f6f; font-weight: 400;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.productPage .favtBtn a:hover i.normal { display: none;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.productPage .favtBtn a:hover i.hover { display: inline-block;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.productPage .shareBtn { color: #ae1f6f; margin-left: 18%; font-size: 18px; }
.productPage .shareBtn a { font-size: 20px; margin-right: 5px; padding: 2px 10px;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.productPage .favtBtn a:hover, .productPage .shareBtn a:hover { color: #ae1f6f;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.productPage .tagListing, .list-tags__link { background-color: #ae1f6f; color: #fff; border: 1px solid #ae1f6f; display: inline-block; line-height: 21px; margin-bottom: 5px; margin-right: 3px; padding: 1px 5px;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.productPage .tagListing:hover, .list-tags__link:hover { background-color: #fff; color: #ae1f6f; border: 1px solid #ae1f6f;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
.prodDesc { margin-bottom: 50px; }
.prodDesc .heading { font-size: 32px; font-weight: 700; margin-bottom: 15px; }
.prodDesc .desc { font-size: 17px; }
.prodDesc .desc ul, .prodDesc .desc ol { padding-left: 15px; }
.relatedProduct { margin-top: 50px; margin-bottom: 50px; }
.relatedProduct .heading { font-weight: 700; font-size: 25px; text-align: center; margin-bottom: 30px; }
.productListing { padding-top: 70px; }
.b-goods__inner:hover .b-goods__name, .b-goods__inner:hover .b-goods__price { color: #ae1f6f;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out; }
/*PRODUCT-PAGE*/

/*PAGE-CONTENT*/
.pageCaptionSubTitle { color: #fff; text-align: center; font-size: 19px; }
.pageContent { margin-bottom: 60px; }
.pageContent .heading { color: #ae1f6f; text-shadow: 2px 2px 2px #000; font-weight: 700; font-size: 35px; line-height: 45px; margin-bottom: 30px; margin-top: 45px; text-align: center; }
.pageContent .heading:FIRST-CHILD { margin-top: 0; }
.pageContent .desc { color: #fff; font-size: 16px; line-height: 23px; margin-bottom: 25px; }
.pageContent ul { padding-left: 35px; margin-top: 10px; }
.pageContent ul li { margin-bottom: 5px; }
.pageContent b, .pageContent strong { color: #ae1f6f; }
.pageContent .profileThumb { border: 3px solid #ae1f6f; border-radius: 15px; float: left; margin-right: 30px; max-width: 195px; padding: 3px; }
/*PAGE-CONTENT*/

/*FOOTER*/
.footer { border-top: 1px solid #4b4b4b; padding: 20px 0 8px; }
.footerLogo { margin-bottom: 10px; }
.footerLogo, .copyright { padding-left: 15%; }
.footerLogo .darkLogo { width: 250px; display: inline-block; }
.footer__list li a { font-size: 18px; text-transform: capitalize; }
.footer__list li a:hover { color: #ae1f6f; }
.footer__list li a i { margin-right: 5px; }
.b-form-newsletter { border-bottom: none; }
/*FOOTER*/

@media only screen and (max-width : 1024px) {
	.desktop, .deviceMobile { display: none; }
	.mobile, .tablet480 { display: block; }
	.flexResponsive { display: block; }
	.mobileAutoCenter { margin: 0 auto; }
	.padding0030 { padding-top: 0px;  padding-bottom: 25px; }
	.padding0060 { padding-top: 0px;  padding-bottom: 40px; }
	.padding3000 { padding-top: 25px; padding-bottom: 0px; }
	.padding3030 { padding-top: 25px; padding-bottom: 25px; }
	.padding6060 { padding-top: 40px; padding-bottom: 40px; }
	.padding3060 { padding-top: 25px; padding-bottom: 40px; }
	.padding6030 { padding-top: 40px; padding-bottom: 25px; }

	.productPage .shareBtn { margin-left: 0; margin-top: 20px; }
	.productPage .goods-card { padding-top: 5px; }
	.productPage .productCode { margin-bottom: 15px; }
	.mobileExpand .mainLogoMobile { display: inline-block; padding: 10px 12px; margin-bottom: 20px; }
	.productPage .js-zoom-images img { margin-bottom: 20px; max-width: 100%; }
	.mainLogoMobile img { width: 200px; }
	.breadcrumb { padding-top: 20px; padding-bottom: 20px; }
	.block-table__cell .ui-title-block_mod-a { padding-top: 0; }
	.homeCategoryThumb { background-position: 50% 30%; background-size: 65% auto; min-height: 420px; }
	.diamondClarity .item, .diamondCarat .item { margin-bottom: 15px; }
	.diamondClarity .captionTitle, .diamondCarat .captionTitle { height: auto; }
	.main-flex-box { padding: 5% 10%; }

	.commonBanner { margin-bottom: 10%; }
	.footer { padding: 40px 0; }
	.footerLogo, .copyright { padding-left: 0; }
	.footer-section, .footerLogo, .copyright { text-align: center; }
}
@media only screen and (max-width : 767px) {
	html .woocommerce .woocommerce-MyAccount-navigation { float: none; width: 100%; }
	html .woocommerce .woocommerce-MyAccount-content { float: none; width: 100%; margin-bottom: 50px; }
}
@media only screen and (max-width : 680px) {
	.homeCategoryThumb { background-position: 50% 1%; background-size: 66% auto; min-height: 400px; }
}
@media only screen and (max-width : 641px) {  }

@media only screen and (max-width : 580px) {
	.flexResponsive580 { display: block; }
	.homeCategoryThumb { background-position: 50% 1%; background-size: 77% auto; min-height: 400px; }
}

@media only screen and (max-width : 480px) {
	.desktop, .tablet480 { display: none; }
	.deviceMobile { display: block; }
	.flexResponsive480 { display: block; }
}
@media only screen and (min-width : 421px) and (max-width : 680px) {  }
@media only screen and (max-width : 420px) {
	.homeCategoryThumb { background-position: 50% 24%; background-size: 82% auto; min-height: 294px; }
}
@media only screen and (max-width : 360px) {
	.homeCategoryThumb { background-position: 50% 31%; background-size: 82% auto; min-height: 255px; }
}


/*body { background-color: #300725; }*/
body, .opaqueHeader { color: #fff; background-color: #1d1d1d;   }
/*body { background-color: #00031F; }*/
/*.opaqueHeader { background-color: #00031F; }*/
.b-goods__category { color: #fff; }
.b-goods__name { color: #fff; font-size: 16px; font-weight: 700; }
.b-goods__price { font-weight: 700; }
.b-goods-carousel__btn-link { font-size: 16px; border-bottom: unset !important; }
.b-goods-carousel__btn-link:hover { color: #ae1f6f; }

/*Purple Shade*/
/*.b-goods__img {
     background: -moz-radial-gradient(center, ellipse cover, #380038 0%, #1A1A1A 51%, #1A1A1A 76%, #1A1A1A 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #380038), color-stop(51%, #1A1A1A), color-stop(76%, #1A1A1A), color-stop(100%, #1A1A1A));
    background: -webkit-radial-gradient(center, ellipse cover, #380038 0%, #1A1A1A 51%, #1A1A1A 76%, #1A1A1A 100%);
    background: -o-radial-gradient(center, ellipse cover, #380038 0%, #1A1A1A 51%, #1A1A1A 76%, #1A1A1A 100%);
    background: -ms-radial-gradient(center, ellipse cover, #380038 0%, #1A1A1A 51%, #1A1A1A 76%, #1A1A1A 100%);
    background: radial-gradient(ellipse at center, #380038 0%, #1A1A1A 51%, #1A1A1A 76%, #1A1A1A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#380038', endColorstr='#1A1A1A',GradientType=1 );
}*/

/*Dark Blue Shade*/
/*.b-goods__img {
	background: -moz-radial-gradient(center, ellipse cover, rgba(19,32,72,1) 0%, rgba(19,32,72,0.94) 3%, rgba(92,96,111,0) 49%, rgba(135,135,135,0) 76%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(19,32,72,1)), color-stop(3%, rgba(19,32,72,0.94)), color-stop(49%, rgba(92,96,111,0)), color-stop(76%, rgba(135,135,135,0)));
	background:-webkit-radial-gradient(center, ellipse cover, rgba(19,32,72,1) 0%, rgba(19,32,72,0.94) 3%, rgba(92,96,111,0) 49%, rgba(135,135,135,0) 76%);
	background: -o-radial-gradient(center, ellipse cover, rgba(19,32,72,1) 0%, rgba(19,32,72,0.94) 3%, rgba(92,96,111,0) 49%, rgba(135,135,135,0) 76%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(19,32,72,1) 0%, rgba(19,32,72,0.94) 3%, rgba(92,96,111,0) 49%, rgba(135,135,135,0) 76%);
	background:radial-gradient(ellipse at center, rgba(19,32,72,1) 0%, rgba(19,32,72,0.94) 3%, rgba(92,96,111,0) 49%, rgba(135,135,135,0) 76%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#132048', endColorstr='#878787',GradientType=1 );
}*/
/*White Shade*/
/*.b-goods__img {
	background: -moz-radial-gradient(center, ellipse cover, #424242 0%, #1A1A1A 44%, #1A1A1A 98%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #424242), color-stop(44%, #1A1A1A), color-stop(98%, #1A1A1A));
	background: -webkit-radial-gradient(center, ellipse cover, #424242 0%, #1A1A1A 44%, #1A1A1A 98%);
	background: -o-radial-gradient(center, ellipse cover, #424242 0%, #1A1A1A 44%, #1A1A1A 98%);
	background: -ms-radial-gradient(center, ellipse cover, #424242 0%, #1A1A1A 44%, #1A1A1A 98%);
	background: radial-gradient(ellipse at center, #424242 0%, #1A1A1A 44%, #1A1A1A 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#1A1A1A',GradientType=1 );
}*/



@media only screen and (max-width : 1024px) {
	.header { background-color: #1d1d1d; padding: 20px; }
	.b-goods .b-goods-links { left: 0; }
}