#notify-bar{width:100%;background-color:#3A304B;-webkit-box-shadow:0px 3px 3px 0px rgba(10, 10, 10, 0.5);-moz-box-shadow:0px 3px 3px 0px rgba(10, 10, 10, 0.5);box-shadow:0px 3px 3px 0px rgba(10, 10, 10, 0.5);transition:all .8s;-moz-transition:all .8s;-webkit-transition:all .8s;-o-transition:all .8s;position:relative;z-index:999;top:0px;display:block !important;}
#notify-bar.active{top:0px;display:block;}
.clear{clear:both;}
#notify-bar #notify-msg{font-weight:700;font-size:14px;width:1000px;margin:0 auto;padding-left:20px;padding-top:22px;text-align:center;color:#FFF;padding-bottom:12px;}
#notify-bar #notify-msg span{padding:20px 0px;}
@media only screen and (max-width:768px){#notify-bar{position:relative;}
#notify-bar #notify-msg{width:100%;font-size:14px;}
#notify-bar #notify-msg span{padding:0px 10px;line-height:17px;}
}
@media only screen and (max-width:414px){#notify-bar #notify-msg{width:90%;font-size:12px;font-weight:normal !important;}
}
@media only screen and (max-width:375px){#notify-bar #notify-msg{width:90%;font-size:10px;font-weight:normal !important;}
}
@media only screen and (max-width:320px){#notify-bar #notify-msg{width:100%;font-size:9px;font-weight:normal !important;padding-left:initial !important;}
}
