



html .woocommerce form.checkout_coupon, html .woocommerce form.login, html .woocommerce form.register ,html .woocommerce  .woocommerce-ResetPassword {
    border: 1px solid #ae1f6f;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 0;
    box-shadow: 2.5px 4.3px 14.3px 0.8px rgba(0, 0, 0, 0.05);
}


html .woocommerce label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}


html .woocommerce form .form-row {
    padding: 10px 0;
    margin: 0 0 0px;
}


html .checkout   .woocommerce form .form-row{
        padding:  0;
    margin: 0 0 0px;
    
}


html .checkout   .form-row label{
    padding-top: 15px;
}

html .woocommerce input[type=text] , html .woocommerce input[type=password] , .input-text {
    /*border: 1px solid #eaeaeb;
    padding: 5px;*/
    width: 100%;
}


textarea.input-text {
    border: 1px solid #eaeaeb;
    padding: 15px;
    min-height: 120px;
}


html .woocommerce td , html .woocommerce th{
    border: 1px solid #eaeaeb;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 12px;
}


html .woocommerce input[type=submit].woocommerce-Button, html .woocommerce button[type=submit].woocommerce-Button {
    background-color: #ae1f6f;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3;
    margin: 20px 0;
}




#payment {
    padding-top: 20px;
}


#payment ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html .woocommerce input[type=submit]{
    background-color: #ae1f6f;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3; 
}


html .woocommerce label[for="rememberme"]{
    padding: 20px 0 0 0
}

html .woocommerce .woocommerce-MyAccount-navigation {
    float: left;
    width: 30%;
    margin-bottom: 40px;
}

html .woocommerce .woocommerce-MyAccount-content {
    float: right;
    width: 68%;
} 


.woocommerce-MyAccount-navigation li{
    list-style: none;
    margin-bottom: 10px;
}


.woocommerce-MyAccount-navigation  ul {
    border: 1px solid #ae1f6f;
    padding: 20px;
    margin: 0;
    text-align: left;
    border-radius: 0;
    box-shadow: 2.5px 4.3px 14.3px 0.8px rgba(0, 0, 0, 0.05);
}

.woocommerce-MyAccount-navigation  ul li , .woocommerce-MyAccount-navigation  ul a{
        color: #7b7d7f;
}

.is-active a{
    font-weight: 600;
}

#place_order{
    float: none !important;
    width: 100%;
    padding: 12px;   
}




.woocommerce-checkout #payment {
background: #f9f9f9;
    border-radius: 0;
    padding: 20px;
    margin: 30px 0;
}


.table > thead td{
    
        border-bottom:2px solid #ae1f6f !important;
}



.table > thead  td {
    vertical-align: bottom;
    border-bottom: 2px solid #999;
    text-transform: uppercase;
    padding-bottom: 27px;
    font-size: 12px;
    padding-top: 33px;
    font-weight: 600;
    color: #1c1f23;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    min-width: 300px;
    font-size: 12px;
    padding: 10px;
}

.shop_table.shop_table_responsive{
     width: 100%;
    margin: 10px 0;
}

.cart_totals h2{
    font-size: 16px;
}


.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}



.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #1c1f23;
    color: #fff;
    border-color: #1c1f23;
    padding: 12px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}


.woocommerce .order_details li {
    float: left;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: .715em;
    line-height: 1;
    border-right: 1px dashed #d3ced2;
    padding-right: 2em;
    margin-left: 0;
    padding-left: 0;
}


ul.order_details{
    background: #f9f9f9;
    padding: 15px;
}


.order_details , .customer_details{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 25px;
    display: inline-block;
}

.woocommerce address{
    line-height: 1.7;
}

.woocommerce-checkout-review-order-table{
    width: 100%;
}


.title h2 , header h2 {
    font-size: 20px;
}


.woocommerce-thankyou-order-received{
    font-size: 30px;
    font-weight: 700;
    color: #1c1f23;
}


html .woocommerce .woocommerce-MyAccount-content td, html .woocommerce th {
    border: 1px solid #eaeaeb;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 12px;
    width: 100%;
}


html .woocommerce legend {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 26px;
    display: inline-block;
    font-weight: 600;
}


html .error404{
    margin-bottom: 30px;
    text-align: center;
}

html .error404 .searchform{
    border: 1px solid #ae1f6f;
    padding: 20px;
    margin: 40px auto;
    text-align: left;
    border-radius: 0;
    box-shadow: 2.5px 4.3px 14.3px 0.8px rgba(0, 0, 0, 0.05);
    max-width: 530px;
    background: #fff;
    
}


html  .error404 .searchform  input[type=text]{
    max-width: 300px;
}


html  .error404{
    background: url(../media/general/404.png);
    min-height: 510px;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 100px;
    max-width: 765px;
    padding: 74px 120px;
    margin: 0 auto 45px;   
}

