@charset "UTF-8";
html { width: 100%; height: 100%; }
* { margin: 0; padding: 0; }
body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	color: #3e5267;
	background-color: #E6E6E6;
}
a { text-decoration: none; cursor: pointer; font-family: arial,sans-serif; }
p { font-size: 11px; }
div, span, a, ul, li, input, textarea, select, img {
	outline: none;
	-webkit-box-sizing: border-box;mainmenu
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Common */
.overflowhidden { overflow: hidden !important; }
.padzero { padding: 0px !important; }
.pad10 { padding: 10px !important; }
.pad10top { padding-top: 10px !important; }
.pad20top { padding-top: 20px !important; }
.pad30top { padding-top: 30px !important; }
.pad10left { padding-left: 10px !important; }
.pad10right { padding-right: 10px !important; }
.pad10bottom { padding-bottom: 10px !important; }
.pad15bottom { padding-bottom: 15px !important; }
.pad20bottom { padding-bottom: 20px !important; }
.margin10bottom { margin-bottom: 10px !important; }
.green { background-color: #61BD8C; }
.yellow { background-color: #F6E65E; }
.textaligncenter { text-align: center !important; }
.textalignright { text-align: right !important; }
.textalignleft { text-align: left !important; }
.floatright { float: right; }
.floatleft { float: left; }
.borderbox { border: 1px solid #61BD8C; }
.bordersolidright { border-right: 1px solid #61BD8C; }
.bordersolidleft { border-left: 1px solid #61BD8C; }
.bordersolidtop { border-top: 1px solid #61BD8C; }
.bordersolidbottom { border-bottom: 1px solid #61BD8C; }
.borderdottedtop { border-top: 1px dotted #61BD8C; }
.hidden { display: none; }

/* Admin Signin */
.signin { display: inline-block; width: 350px; margin: 50px 0px 0px 0px; }
.changepassword { display: inline-block; width: 350px; }

.forms .field span.loading {
	position: absolute;
	left: 0;
	top: 5px;
	display: none;
    background-image: url("../images/loading.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 20px auto;
    min-height: 20px;
    min-width: 20px;
    padding: 4px 0 0 30px;
	font-size: 12px;
	font-family: arial,sans-serif;
	color: #000000;
}
a.inline { display: inline-block; width: auto; }


.forms .field input.inlinetext { display: inline-block; width: 100px; }


/* Data Table */
table.dataTable td { color: #000; }
table.dataTable td a { font-size: 11px; color: #003d72; }
table.dataTable td a:hover { color: #000000; }
.dataTables_paginate { padding: 5px 0px; }
.separator { color: #999999; padding: 0 3px; }


/* Footer */
.footer {
	clear:both;
	background-color: #6F6E6E;
    border-top: 1px solid #6F6E6E;
    color: #000000;
    font-size: 10px;
    text-align: right;
    padding: 0.5%;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    max-height: 30px;
}
/* Pagination for gallery */
.backpaginate {
    float: left;
    padding-bottom: 5px;
    text-align: right;
    width: 100%;
}
.backpaginate ul {
    display: inline;
    margin: 0;
    padding: 0;
}
.backpaginate ul li {
    color: #808080;
    display: inline-block;
    list-style: none outside none;
    padding: 0 5px;
}
.backpaginate ul li:first-child {
    border-right: 1px solid #3B5998;
}
.backpaginate ul li a {
    color: #174A15;
    font-size: 12px;
}
.backpaginate ul li a:hover {
    color: #3B5998;
}
/* Dialog */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.8;
	top: 0;
	left: 0;
	z-index: 999;
}
.dialog {
	display: table;
	position: fixed;
	background:none;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 9999;
	top: 0;
	left: 0;
}
.dialog div {
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dialog .popup { position: relative; display: table-cell; padding: 20px; vertical-align: middle; }
.dialog .popup .loading {
	display: inline-block;
	background-image: url('../images/loading.gif');
	background-repeat: no-repeat;
	background-position: center top;
	font-family: "segoe_uilight", Arial;
	font-size: 1em;
	color:#FFFFFF;
	padding: 40px 10px 20px;
}

.error { color: #B20404;}

.loginFromLogo { background-image: url("../images/raj-diamonds-logo.svg"); background-repeat: no-repeat; background-size: contain; margin: 0 auto; height: 85px; overflow: hidden; width: 200px; }
.footerLogo { background-image: url("../images/raj-diamonds-logo.svg"); background-repeat: no-repeat; background-size: contain; margin-right: 20px; height: 50px; overflow: hidden; width: 115px; }
.dataTable { border-collapse: unset; border-spacing: 1px; }
#facebox .content { width: auto !important; max-width: 95%; }
#facebox .image img { max-width: 100%; }
.form-group.has-feedback .token-input-token-facebook span { display: inline-block !important; }
.thumbView { display:inline-block; max-width: 95%; max-height: 180px; box-shadow:2px 3px 6px #a7a7a7; }
.iconView { display:inline-block; width: 100px; height: 100px; box-shadow:2px 3px 6px #a7a7a7; margin-top: 10px; margin-bottom: 15px; }
.jumbotron p { font-size: 13px; margin-bottom: 10px; }